.attribute {
    display: inline-block;
    font-weight: bold;
    font-size: 150%;
}

.MotalTitle{
    display: inline-block;
    font-weight: bold;
    font-size: 150%;
}

.productContent {
    display: inline-block;
    font-size: 120%;
}

.productDescription {
    display: inline-block;
    font-size: 110%;
}


