.maye{
    width: 100%;
    background-color: rgb(203, 247, 247);;
    background: url(../../assets/dan2.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user_image  {
    margin-top: 2%;
    width: 10em;
    border-radius: 50%;
  }

.Name{
    font-size: large;
    color: grey;
}

.textfield {
    background-color: white;
}

.Name2{
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

.description{
    margin-left: 13%;
    margin-right: 13%;
}